.container {
    display: flex;
    margin: auto;
    width: 45%;
    justify-content: space-around;
}

.container input {
    border-radius: 5px;
    height: 30px;
    background: #93f106;
    transition: background .3s ease;
    
}

.container button {
    height: 30px;
    background-color: #ec0850;
    border-radius: 5px;
    border-color: #700202;
    color: rgb(6, 243, 21);
}
